nodejs/node_modules
nodejs/dbdemo/node_modules
php/vendor
php/composer.lock
.idea
.vscode


# Java Spring Demo
**/target

# dotnet demo
**/bin
**/obj
**/node_modules

# ruby demo
ruby/*/db/*.sqlite3
!ruby/*/bin
ruby/**/cache/*
ruby/*/storage/*
!/ruby/**/storage/.keep
ruby/**/public/uploads
ruby/**/log/*
ruby/**/tmp/*
!ruby/**/log/.keep
!ruby/**/tmp/.keep
